root = true

# ================================================
# === Правила для C# файлів ===
# ================================================
[*.cs]

# --- 1. Стиль 'var' ---
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion

# --- 2. Стиль дужок {} ---
csharp_prefer_braces = true:warning

# --- 3. Стиль 'this.' 
dotnet_style_qualification_for_field = true:warning
dotnet_style_qualification_for_property = true:warning
dotnet_style_qualification_for_method = true:warning

# --- 4. Порядок 'using' ---
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

# --- 5. Спрощення коду ---
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_conditional_expression_over_if = true:suggestion

# --- 6. Загальні правила .NET ---
dotnet_style_prefer_auto_properties = true:suggestion
dotnet_style_prefer_empty_string_over_literal = true:suggestion
csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion

nullable = disabled